body {
  background-color: #f6f1ed;
}

h1 {
font-family: Didot, serif;
font-weight: lighter;
font-variant: small-caps;
font-stretch: extra-expanded;
color: #7F4A5F;
}

h2 {
  font-family: Didot, serif;
  font-weight: lighter;
  font-variant: small-caps;
  color: #7F4A5F;
  font-size: 120%;
}

h3 {
  font-family: Didot, serif;
  font-weight: lighter;
  font-variant: small-caps;
  font-size: 150%;
  color: #7F4A5F;
}

.links {
    font-family: optima, sans-serif;;
    font-weight: lighter;
    color: #30231d;
    font-variant: small-caps;
    font-size: 150%;
}
/*unvisited link */
a:link {
  color: #30231d;
  font-size: 80%
}

/*visited link*/
a:visted {
  color: #b5a397;
}
/*mouse over link*/
a:hover {
  color: #b5a397;
}

/*selected link*/
a:active {
  color: #30231d;
}


header, footer {
  padding: 1em;
  color: #7F4A5F;
  background-color: #f6f1ed;
  clear: left;
  text-align: center;
}

#bio {
    margin-left: 145px;
    padding: 1em;
    overflow: hidden;
    text-align: left;
    font-family: Didot, serif;
    color: #7F4A5F;
    font-weight: lighter;
    float: right;
    position: absolute;
}

#navigation {
    float: left;
    position: relative;
    max-width: 130px;
    margin: 0;
    padding: 1em;
}

th, td {
  padding: 15px;
}

table {
  font-style: Didot, serif;
  color: #7F4A5F;
  

}
