h1 {
font-family: Didot, serif;
font-weight: lighter;
font-variant: small-caps;
font-stretch: extra-expanded;
color: #C6ADB7;
}

h2 {
  font-family: Didot, serif;
  font-weight: lighter;
  font-variant: small-caps;
  color: #C6ADB7;
}

h3 {
  font-family: Didot, serif;
  font-weight: lighter;
  font-variant: small-caps;
  color: #C6ADB7;
}
